<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Tasmota Bridge</string>
	<key>CFBundleIdentifier</key>
	<string>com.clives.indigoplugin.tasmotabridge</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Tasmota Bridge Plugin</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>GithubInfo</key>
	<dict>
		<key>Owner</key>
		<string>Highsteads</string>
		<key>Repo</key>
		<string>TasmotaBridge</string>
	</dict>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>PluginVersion</key>
	<string>0.7.5</string>
	<key>ServerApiVersion</key>
	<string>3.0</string>
</dict>
</plist>
